// color
$white = #fff;
$gray-100 = #999999;
$gray-200 = #666666;
$gray-300 = #333333;
$black = #000;

$blue-100 = #00afc3;
$blue-200 = #0780ed;
$blue-300 = #0050e2; 
$blue-400 = #001ee3;

$yellow-100 = #ffc100;
$yellow-200 = #ff9200;

$green-100 = #44d428;

$purple-100 = #d800e3;
$purple-200 = #a600e3;
$purple-300 = #7500e3;

// font
$font-size-base = 1rem; // Assumes the browser default, typically `16px`
$font-size-lg = ($font-size-base * 1.25);
$font-size-sm = ($font-size-base * .875);


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret =              true;
$enable-rounded =            true;
$enable-shadows =           false;
$enable-gradients =         false;
$enable-transitions =        true;
$enable-hover-media-query = false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes =       true;
$enable-print-styles =       true;
$enable-validation-icons =   true;