.align-baseline {
  vertical-align: baseline !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.align-text-bottom {
  vertical-align: text-bottom !important;
}
.align-text-top {
  vertical-align: text-top !important;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
[title~="hello"] {
  color: #d800e3;
  font-size: 1rem;
}
[test] {
  width: 3rem;
  height: 1rem;
  background: #00afc3;
}
