@import "_variables"
@import "mixins"
@import "utilities"    



[title~="hello"] {
    color: $purple-100;   
    font-size: $font-size-base;
}

[test] {
    width: $font-size-base;
    height: $font-size-base;
    background: $blue-100;  
}

